
.projects-dash::before{
   content: "";
   width: 271%;
   height: 2px;
   background-color: #fff;
   top: 19px;
   right: -102px;
   z-index: -1;
   position: absolute;
   transform: rotate( 
360deg);
}