.blogs-dash::before{
   content: "";
   width: 266%;
   height: 2px;
   background-color: #fff;
   top: 19px;
   right: -101px;
   z-index: -1;
   position: absolute;
   transform: rotate( 
360deg);
}