.love-to-do-dash::before{
   content: "";
   width: 237%;
   height: 2px;
   background-color: #fff;
   top: 19px;
   right: -94px;
   z-index: -1;
   position: absolute;
   transform: rotate( 
360deg);
}