
 .about-wrap{
   
 }

.about-dash::before{
   content: "";
   width: 261%;
   height: 2px;
   background-color: #fff;
   top: 19px;
   right: -101px;
   z-index: -1;
   position: absolute;
   transform: rotate( 
360deg);
}

.portrait img{
  filter: grayscale(0.7);
  transition: all 1s;
  transform: scale(1);
}

.portrait:hover img{
  filter: grayscale(0);
  transform: scale(1.2);
}