/* 
 .about-wrap{
   height: 375px;
   margin: 0px -44px 0px 0px;
 } */

.about-dash::before{
   content: "";
   width: 261%;
   height: 2px;
   background-color: #fff;
   top: 19px;
   right: -101px;
   z-index: -1;
   position: absolute;
   transform: rotate( 
360deg);
}