.contact-dash::before{
   content: "";
   width: 221%;
   height: 2px;
   background-color: #fff;
   top: 19px;
   right: -89px;
   z-index: -1;
   position: absolute;
   transform: rotate( 
360deg);
}

.icon:hover{
   color: red !important;
}

.input-select:focus{
   border: none;
   outline: none;
}

/* .input-select{
   max-width: 600px !important;
   width: 600px;
} */