.contact-dash::before{
   content: "";
   width: 222.5%;
   height: 2px;
   background-color: #fff;
   top: 19px;
   right: -91px;
   z-index: -1;
   position: absolute;
   transform: rotate( 
360deg);
}


.input-select:focus{
   border: none;
   outline: none;
}

/* .input-select{
   max-width: 600px !important;
   width: 600px;
} */