.follow-p{
   z-index:1
}

.follow-wrap{
   /* top: 165px;
   left: 1.5rem; */
   height: 375px;
   /* margin: 0px 0px 0px -26px; */
}

.rotate{
   transform: rotate(180deg);
 }
 
 .rotate-minus{
   transform: rotate(-90deg) translate(40px,0px);
 }

.follow-dash::after{
   content: "";
   width: 171px;
   height: 2px;
   background-color: #fff;
   position: absolute;
   top: 257px;
   right: -16px;
   z-index: -1;
   transform: rotate(
90deg);
}

.follow-small-screen-dash::after{
   content: "";
   width: 236%;
   height: 2px;
   background-color: #fff;
   top: 19px;
   right: -94px;
   z-index: -1;
   position: absolute;
   transform: rotate( 
360deg);
}



.after-bullet::after{
   content: "";
   width: 8px;
   height: 8px;
   position: absolute;
   background-color: #00cf5e;
   top: 10px;
   right: -18px;
   border-radius: 50%;
}