@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-color{
  color: #00cf5e;
}

.theme-bg{
  background-color: #00cf5e;
}

.rotate{
  transform: rotate(180deg);
}

.rotate-minus{
  transform: rotate(-90deg) translate(40px,0px);
}

.badge-bg{
  background-color: #1d293a;
}

.theme-outline{
  outline: 2px solid #00cf5e;
  outline-offset: -2px
}

